.home {
  text-align: center;
}
img {
  margin: 1rem;
  box-shadow: 5px 10px #4a4a4a;
  border: solid 0.5px rgb(25, 157, 197);
  border-radius: 1%;
  width: 50%;
  height: auto;
}
.card-body {
  box-shadow: 5px 10px #4a4a4a;
  border: solid 0.5px rgb(25, 157, 197);
  border-radius: 1%;
  background-color: rgb(56, 167, 201);
  padding: 2rem;
}
