.user-profile {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  flex-grow: 1;

  margin: 1rem;
  box-shadow: 5px 10px #4a4a4a;
}
.card-body {
  background-color: rgb(245, 244, 243);
  padding: 2rem;
}
button {
  margin: 1rem;
}
.title {
  margin-top: 1rem;
}
