<form #f="ngForm" (ngSubmit)="onRegisterSubmit(f)">
  <h2 class="title is-2">Register</h2>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        name="name"
        ngModel
        required
        #name="ngModel"
        class="input"
        type="text"
        placeholder="Your name"
      />
      <p>First name value: {{ name.value }}</p>
      <p>First name valid: {{ name.valid }}</p>
    </div>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input
        name="username"
        ngModel
        required
        #username="ngModel"
        class="input"
        type="text"
        placeholder="User name"
        value=""
      />
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
          name="email"
          ngModel
          required
          #email="ngModel"
          class="input"
          type="email"
          placeholder="Email "
          value=""
        />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          class="input"
          type="password"
          name="password"
          ngModel
          required
          #password="ngModel"
        />
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link" [disabled]="f.invalid">
          Submit
        </button>
      </div>
      <div class="control">
        <button class="button is-link is-light" [routerLink]="['/']">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
